@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600');
@tailwind base;
@tailwind components;
@tailwind utilities;

.vibrate {
  color: rgb(0, 0, 0);
  animation: changeColor ease;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-fill-mode: both;
}
@keyframes changeColor {
  0% {
    color: rgb(0, 0, 0);
  }

  50% {
    color: grey;
  }

  100% {
    color: rgb(0, 0, 0);
  }
}